*{
  padding:0;
  margin:0;
}

@font-face {
  font-family: "Quicksand";
  src:url('assets/font/Quicksand/static/Quicksand-Medium.ttf')
}

body{
  font-family: "Quicksand", sans-serif;
}

.bg-navbar{
  background-color: #000000;
}

.jumbotron {
  background-image: url('assets/img/distro.jpg');
  flex-direction: row;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding-top: 180px!important;
  padding-bottom: 180px!important;
}

.tulisan-mengetik{
  font-size: 1.25rem;
}

.picture{
  max-width: 100%;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 100%;
  background-size: cover;
  background-color: #333333;
}

.contact-content{
  margin-top: 50px;
}

#about{
  padding-top: 80px!important;
  padding-bottom: 80px!important;
  font-size: 1em;
}

#skills,
#contact,
#product{
    background-color: #f9f9f9f9;
    padding-top: 80px!important;
    padding-bottom: 80px!important;
}

.text-skills{
  font-size: 18px;
}

#skills .bar{
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0 20px 0;
}

.bar .nilai{
    height: 20px;
    background-color: #35589A;
    display:inline-block;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.html{
  width: 100%;
  font-weight: 400;
}

.css{
  width: 80%;
  font-weight: 400;
}

.js{
  width: 75%;
  font-weight: 400;
}

.php{
  width: 95%;
  font-weight: 400;
}

.sql {
  width: 100%;
  font-weight: 400;
}

.dapo{
  width: 100%;
  font-weight: 400;
}

.maintenance{
  width: 100%;
  font-weight: 400;
}

.networking{
  width: 100%;
  font-weight: 400;
}

.icon-whatsapp{
  font-size: 100px;
  color: #01e126;
}

.icon-facebook{
  font-size: 100px;
  color: #271ae9;
}

.icon-instagram{
  font-size: 100px;
  color: #dd0c75;
}

.icon-github{
  font-size: 100px;
  color: #000;
}

footer{
  background-color: #000000;
  padding: 30px;
  text-align: center;
}

footer small{
  color: #fff;
}

/* layar hp resolusi max 768 */

@media only screen and (max-width: 768px){

  .tulisan-mengetik{
    font-size: 1rem;
  }
}

.img-product
{
  max-width: 100%;
  max-height: 240px;
  height: 240px;
  width: 240px;
}